<div class="right-sidebar">
     <p>Notifications</p>
     <hr/>
     <ul>
        <li>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </li>
        <li>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </li>
        <li>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </li>
        <li>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </li>
     </ul>
     <a [routerLink]="" class="more">View More</a>
</div>